#FPassPage{
    max-width: 550px;
}
#FPassLoginbtn{
    width: 100%;
    background-color: rgb(105, 241, 105);
    color: rgb(73, 2, 2);
    font-weight: 400;
    display: none
}
#FPassLoginbtn:hover{
    width: 100%;
    background-color: rgb(167, 253, 167);
    color: rgb(0, 0, 0);
    font-weight: 700;
}
#alertWorn{
    height: 20px;
}
